@font-face
{
    font-family: 'Futura';
    src:url("../fonts/futura\ medium\ bt.ttf");
}

.header{
    font-family: 'Futura';
    font-size: 1000%;
    color: #F37E97;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.web-sentence{
    font-family: 'Futura';
    font-size: 300%;
    color:#F37E97;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}